<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <form method="GET">
            <h1>Recepty</h1>
            <label for="login">Autor: </label>
            <input type="text" id="login" placeholder="Jméno autora">
            <label for="recept">Recept: </label>
            <input
                type="text" id="recept"
                placeholder="Napiš recept" />
            <p><input type=submit value=Submit>
    </body>
</html>